<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="logging" type="SharpCore.Logging.LoggingSectionHandler, SharpCore.Logging" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!--
		<add name="SqlLogger" connectionString="Server=localhost; Database=SharpCore; Integrated Security=true;"/>
		-->
	</connectionStrings>
	
	<sharpCore>
		<logging loggingLevel="warning">
			<!--
			<logger type="SharpCore.Logging.Loggers.EventLogLogger, SharpCore.Logging"
				loggingLevel="verbose"
				logName="SharpCore.Logging.Test"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.SqlLogger, SharpCore.Logging"
				loggingLevel="verbose"
				connectionStringName="SqlLogger"
				commandText="LogTestInsert"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.FileLogger, SharpCore.Logging"
				loggingLevel="verbose"
				fileName="C:\Temp\SharpCore.log"
				format="%source %loggingLevel %datetime %message%newline"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.MessageQueueLogger, SharpCore.Logging"
				loggingLevel="verbose"
				path=".\Private$\TestQueue"
			/>
			-->

			<!--
			<logger type="SharpCore.Logging.Loggers.SmtpLogger, SharpCore.Logging"
				loggingLevel="verbose"
				host="mail.com"
				from="webmaster@mail.com"
				to="webmaster@mail.com"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.ConsoleLogger, SharpCore.Logging"
				loggingLevel="verbose"
				format="%source %loggingLevel %datetime %message"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.TraceLogger, SharpCore.Logging"
				loggingLevel="verbose"
				format="%source %loggingLevel %datetime %message"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.RollingFileLogger, SharpCore.Logging"
				loggingLevel="verbose"
				fileName="C:\Temp\SharpCore {0}.log"
				format="%source %loggingLevel %datetime %message%newline"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.AspNetTraceLogger, SharpCore.Logging"
				loggingLevel="verbose"
				format="%source %loggingLevel %datetime %message"
			/>
			-->
			
			<!--
			<logger type="SharpCore.Logging.Loggers.NetSendLogger, SharpCore.Logging"
				loggingLevel="verbose"
				format="%source %loggingLevel %datetime %message"
				recipient="corpanttilaca"
			/>
			-->
		</logging>
	</sharpCore>
</configuration>
