<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="caching" type="SharpCore.Caching.CachingSectionHandler, SharpCore.Caching" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!--
		<add name="SqlCache" connectionString="Server=localhost; Database=SharpCore; Integrated Security=true;"/>
		-->
	</connectionStrings>
	
	<sharpCore>
		<caching>
			<!--
			<cache type="SharpCore.Caching.Caches.SimpleCache, SharpCore.Caching"
				context="SimpleCacheTest"
				purgeInterval="00:01:00"
			/>
			-->
			
			<!--
			<cache type="SharpCore.Caching.Caches.SqlCache, SharpCore.Caching"
				context="SqlCache"
				purgeInterval="00:05:00"
				connectionStringName="SqlCache"
				insertSql="CacheTestInsert"
				updateSql="CacheTestUpdate"
				deleteSql="CacheTestDelete"
				purgeSql="CacheTestCleanse"
				selectSql="CacheTestSelect"
				selectAllSql="CacheTestSelectAll"
			/>
			-->
			
			<!--
			<cache type="SharpCore.Caching.Caches.DistributedCache, SharpCore.Caching"
				context="distributedCache"
				port="5700">
				
				<localCache type="SharpCore.Caching.Caches.SimpleCache, SharpCore.Caching"
					context="SimpleCacheTest"
					purgeInterval="00:01:00"
				/>
				
				<server address="127.0.0.1" port="5800" />
				<server hostName="localhost" port="5900" />
			</cache>
			-->
			
			<!--
			<cache type="SharpCore.Caching.Caches.MiserCache, SharpCore.Caching"
				context="MiserCache"
				availableMemoryLimit="96"
				miserInterval="00:00:03">

				<volatileCache type="SharpCore.Caching.Caches.SimpleCache, SharpCore.Caching"
					context="SimpleCacheTest"
					purgeInterval="00:05:00"
				/>
				
				<persistentCache type="SharpCore.Caching.Caches.SqlCache, SharpCore.Caching"
					context="SqlCache"
					purgeInterval="00:05:00"
					connectionString="Server=localhost; Database=SharpCore; User ID=SharpCoreUser; Password=;"
					insertSql="CacheTestInsert"
					updateSql="CacheTestUpdate"
					deleteSql="CacheTestDelete"
					deleteAllSql="CacheTestDeleteAll"
					purgeSql="CacheTestPurge"
					selectSql="CacheTestSelect"
					selectAllSql="CacheTestSelectAll"
				/>
			</cache>
			-->
			
			<!--
			<cache type="SharpCore.Caching.Caches.MessageQueueCache, SharpCore.Caching"
				context="MessageQueueCacheTest"
				purgeInterval="00:01:00"
				sendPath=".\\Private$\\SendQueue"
				receivePath=".\\Private$\\ReceiveQueue"
			/>
			-->
		</caching>
	</sharpCore>
</configuration>
