<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="caching" type="SharpCore.Caching.CachingSectionHandler, SharpCore.Caching" />
		</sectionGroup>
	</configSections>

	<sharpCore>
		<caching>
			<cache type="SharpCore.Caching.Caches.SimpleCache, SharpCore.Caching"
				context="UnitTest"
				purgeInterval="00:01:00"
			/>
		</caching>
	</sharpCore>
</configuration>
