<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="logging" type="SharpCore.Logging.LoggingSectionHandler, SharpCore.Logging" />
		</sectionGroup>
	</configSections>

	<sharpCore>
		<logging loggingLevel="verbose">
			<logger type="SharpCore.Logging.Loggers.TraceLogger, SharpCore.Logging"
				loggingLevel="verbose"
				format="%source %loggingLevel %datetime %message"
			/>
		</logging>
	</sharpCore>
</configuration>
