<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="scheduling" type="SharpCore.Scheduling.SchedulingSectionHandler, SharpCore.Scheduling" />
		</sectionGroup>
	</configSections>
	
	<sharpCore>
		<scheduling interval="00:01:00">
			<job name="SimpleJob"
				description="This job performs some action every 5 minutes."
				type="SomeNamespace.SomeClass, SomeAssemblyName"
				interval="00:05:00">
				
				<subscribers>
					<subscriber type="SomeNamespace.SubscriberOne, SomeAssemblyName" />
					<subscriber type="SomeNamespace.SubscriberTwo, SomeAssemblyName" />
				</subscribers>
			</job>
			
			<job name="DailyJob"
				description="This job performs some action once a day, at the specified time."
				type="SomeNamespace.SomeClass, SomeAssemblyName"
				time="08:30:00"
			/>
			
			<job name="MonthlyJob"
				description="This job performs some action once a month, at the specified time."
				type="SomeNamespace.SomeClass, SomeAssemblyName"
				day="1"
				time="08:30:00"
			/>
		</scheduling>
	</sharpCore>
	-->
</configuration>
