<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="scheduling" type="SharpCore.Scheduling.SchedulingSectionHandler, SharpCore.Scheduling" />
		</sectionGroup>
	</configSections>
	
	<sharpCore>
		<scheduling interval="00:00:01">
			<job name="SimpleJob"
				description="This job performs some action every 2 seconds."
				type="SharpCore.Scheduling.Testing.SimpleJob, SharpCore.Scheduling.Testing"
				interval="00:00:03">
				
				<subscribers>
					<subscriber type="SharpCore.Scheduling.Testing.Subscriber, SharpCore.Scheduling.Testing" />
				</subscribers>
			</job>
		</scheduling>
	</sharpCore>
</configuration>
