<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="objectFactory" type="SharpCore.Objects.ObjectFactorySectionHandler, SharpCore.Objects"/>
		</sectionGroup>
	</configSections>
	
	<sharpCore>
		<objectFactory>
			<object id="nullableBoolean1" type="SharpCore.NullableTypes.NullableBoolean, SharpCore.NullableTypes"/>
			
			<object id="nullableBoolean2" type="SharpCore.NullableTypes.NullableBoolean, SharpCore.NullableTypes">
				<property name="BooleanValue" value="True" type="System.Boolean"/>
			</object>
			
			<object id="nullableBoolean3" type="SharpCore.NullableTypes.NullableBoolean, SharpCore.NullableTypes">
				<constructor>
					<parameter value="True" type="System.Boolean"/>
				</constructor>
			</object>
		</objectFactory>
	</sharpCore>
</configuration>
