<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="objectFactory" type="SharpCore.Objects.ObjectFactorySectionHandler, SharpCore.Objects" />
		</sectionGroup>
	</configSections>

	<sharpCore>
		<objectFactory>
			<object id="simpleObject" type="SharpCore.Objects.Testing.SimpleObject, SharpCore.Objects.Testing"/>
			
			<object id="simpleObjectWithProperty" type="SharpCore.Objects.Testing.SimpleObject, SharpCore.Objects.Testing">
				<property name="Name" value="SimpleObject" type="System.String"/>
			</object>

			<object id="simpleObjectWithConstructor" type="SharpCore.Objects.Testing.SimpleObject, SharpCore.Objects.Testing">
				<constructor>
					<parameter value="SimpleObject" type="System.String"/>
				</constructor>
			</object>
			
			<object id="complexObject" type="SharpCore.Objects.Testing.ComplexObject, SharpCore.Objects.Testing"/>

			<object id="complexObjectWithProperty" type="SharpCore.Objects.Testing.ComplexObject, SharpCore.Objects.Testing">
				<property name="Name" value="ComplexObject" type="System.String"/>
				<property name="SimpleObject" reference="simpleObjectWithConstructor"/>
			</object>

			<object id="complexObjectWithConstructor" type="SharpCore.Objects.Testing.ComplexObject, SharpCore.Objects.Testing">
				<constructor>
					<parameter value="ComplexObject" type="System.String"/>
					<parameter reference="simpleObjectWithConstructor"/>
				</constructor>
			</object>

			<object id="singleton" type="SharpCore.Objects.Testing.SimpleObject, SharpCore.Objects.Testing" singleton="true"/>

			<object id="nonSingleton" type="SharpCore.Objects.Testing.SimpleObject, SharpCore.Objects.Testing" singleton="false"/>
		</objectFactory>
	</sharpCore>
</configuration>