<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="sharpCore">
			<section name="encryption" type="SharpCore.Utilities.EncryptionUtilitySectionHandler, SharpCore.Utilities" />
		</sectionGroup>
	</configSections>
	
	<sharpCore>
		<encryption
			key="Kw3KMH4ZdYI5paIADXZCTpr9ggcciHox"
			initializationVector="0G249o0JdhU="
			symmetricAlgorithmType="System.Security.Cryptography.TripleDESCryptoServiceProvider"
			encodingType="System.Text.UTF8Encoding"
		/>
	</sharpCore>
</configuration>